<nav class="navbar navbar-expand-lg sticky-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">MiniStore</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      style="
        background: rgb(245, 245, 245);
        margin-top: 1rem;
        height: 10rem;
        padding: 1rem 0;
        width: 100%;
      "
      id="navbarNav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            style="font-size: 15px; font-weight: 500"
            aria-current="page"
            routerLink="/"
            >PRODUCTS</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            style="font-size: 15px; font-weight: 500"
            aria-current="page"
            routerLink="/"
            >BEST SALE</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            style="font-size: 15px; font-weight: 500"
            aria-current="page"
            href="#contact"
            >CONTACT</a
          >
        </li>
      </ul>
      <li
        *ngIf="!userIsAuthenticated; else userIsLoggedIn"
        class="nav-item d-flex p-2"
        style="cursor: pointer; font-size: 15px; font-weight: 500"
        routerLink="/login-page"
      >
        <i style="cursor: pointer" class="fa-solid fa-user me-auto mt-1"></i>
      </li>

      <ng-template #userIsLoggedIn>
        <li
          class="nav-item d-flex p-2"
          style="cursor: pointer; font-size: 15px; font-weight: 500"
          routerLink="/login-page"
        >
          <i style="cursor: pointer" class="fa-solid fa-user me-auto mt-1"></i>
          {{ userName | async }}
        </li>
      </ng-template>

      <li
        class="nav-item d-flex p-2"
        style="cursor: pointer"
        routerLink="/cart-page"
      >
        <i style="cursor: pointer" class="fas fa-shopping-cart me-auto mt-1"></i
        >&nbsp; {{ cartQuantity }}
      </li>
    </div>
  </div>
</nav>
