.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  width: 100%;
}
#sidebar {
  padding: 0;
  max-width: 250px;
  height: 100vh;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
}
#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: poppins, Arial, sans-serif;
  color: #000;
}
.col-lg-2 {
  background-color: whitesmoke;
}
#sidebar ul li {
  font-size: 14px;
}
#sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgb(126, 126, 126);
  border-bottom: 1px solid rgba(78, 78, 78, 0.05);
  cursor: pointer;
}
#sidebar ul.components {
  padding: 0;
}

a[data-toggle="collapse"] {
  position: relative;
}
.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #000;
  border: 1px solid #ccc;
  font-size: 11px;
}

a {
  transition: 0.3s all ease;
}
.container-input {
  position: relative;
}

.input {
  width: 150px;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 190px;
}

.img-fluid {
  margin-top: 2rem;
}
ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 3px;
  font-weight: 500;
  color: lightgrey;
}
li:hover {
  background-color: rgba(225, 225, 225, 0.535);
  border-radius: 5px;
}
