.container {
  height: 100%;
}
.card {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
.product {
  background-color: #f6f6f6;
  margin-top: 3rem;
  max-height: 100%;
}
.brand {
  font-size: 22px;
}
.act-price {
  color: red;
  font-weight: 700;
}

.about {
  font-size: 14px;
}
.color {
  margin-bottom: 10px;
}

.btn-blue {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff6f69;
  transition: all 500ms;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ff6f69;
}
.btn-blue:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 2px solid #ff6f69;
  box-shadow: 2px 3px 10px -2px #ff6f69;
}
.btn-blue::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ff6f69;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 500ms;
}
.btn-blue:hover::before {
  width: 200%;
}
.cart i {
  margin-right: 10px;
}
.main-image {
  height: 330px;
  width: 100%;
  border-radius: 3%;
}
.ml-1 {
  color: #ff6f69;
  font-weight: 500;
}
.loader {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
