<div class="card">
  <div
    style="
      border-radius: 200px;
      height: 200px;
      width: 200px;
      background: #f8faf5;
      margin: 0 auto;
    "
  >
    <img
      style="width: 188px"
      src="https://static-00.iconduck.com/assets.00/success-icon-512x512-qdg1isa0.png"
      alt=""
    />
  </div>
  <h2>Order has Placed Successfully</h2>
  <strong style="margin-left: 32px"
    >Thank you for shopping with popular E-commerce</strong
  >
  <h5 style="margin-top: 20px; margin-left: 40px; color: green">
    Kindly Pay Amount
    <strong style="color: blue">{{ totalAmount | currency }}</strong>
    &nbsp;during delivery
  </h5>
</div>
