<ng-container *ngIf="showProduct.length != 0">
  <div class="card mt-5">
    <div class="row">
      <div class="col-md-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>My Cart</b></h4>
            </div>
          </div>
        </div>
        <div
          class="row border-top border-bottom"
          *ngFor="let item of showProduct; let i = index"
        >
          <div class="row main align-items-center">
            <div class="col-2">
              <img class="img-fluid" [src]="item.product.images" />
            </div>
            <div class="col">
              <div class="row text-muted">{{ item.product.title }}</div>
              <div class="row">{{ item.product.category }}</div>
            </div>
            <div class="col">
              <div>
                <select
                  #quantitySelect
                  [value]="item.quantity"
                  (change)="changeQuantity(item, quantitySelect.value)"
                >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col d-flex justify-content-between controler-btn">
              <span class="mt-2">{{ item.price | currency }}</span
              >&nbsp;
              <button class="button" (click)="deleteItem(item)">
                <svg viewBox="0 0 448 512" class="svgIcon">
                  <path
                    d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div class="back-to-shop">
          <a>&leftarrow;</a
          ><span class="text-muted" routerLink="/">Back to shop</span>
        </div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr />
        <div class="row">
          <div class="col" style="padding-left: 0"></div>
          <div class="col text-right">{{ totalAmout | currency }}</div>
        </div>
        <form>
          <p>SHIPPING</p>
          <select>
            <option class="text-muted">Standard-Delivery- &dollar;5.00</option>
          </select>
          <div
            class="row"
            style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
          >
            <div class="col">TOTAL PRICE</div>
            <div class="col text-right">{{ totalAmout | currency }}</div>
          </div>
        </form>

        <button class="btn" routerLink="/checkout">CHECKOUT</button>
      </div>
    </div>
  </div>
</ng-container>

<!-- Empty cart  -->
<ng-container *ngIf="showProduct.length === 0">
  <div class="card card-empty">
    <div class="center">
      <h4>Your Cart is Empty</h4>
      <h6>Please Add Item</h6>
      <button routerLink="/" class="btn btn-dark">Shop Now</button>
    </div>
  </div>
</ng-container>
