<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row d-flex align-items-center">
            <div class="col-md-6">
              <div class="banner-content">
                <h1 class="text-uppercase text-dark pb-5">
                  Your Products Are Great.
                </h1>
                <a
                  href="shop.html"
                  class="btn btn-medium btn-dark text-uppercase btn-rounded-none"
                  >Shop Product</a
                >
              </div>
            </div>
            <div class="col-md-5">
              <div class="image-holder">
                <img src="../assets/banner-image.png" alt="banner" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="company-services" class="padding-large mt-5 p-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Free delivery</h3>
            <p>Consectetur adipi elit lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <i class="fa-solid fa-medal"></i>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">
              Quality guarantee
            </h3>
            <p>Dolor sit amet orem ipsu mcons ectetur adipi elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <i class="fa-solid fa-tag"></i>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">Daily offers</h3>
            <p>Amet consectetur adipi elit loreme ipsum dolor sit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 pb-3">
        <div class="icon-box d-flex">
          <div class="icon-box-icon pe-3 pb-3">
            <i class="fa-solid fa-shield"></i>
          </div>
          <div class="icon-box-content">
            <h3 class="card-title text-uppercase text-dark">
              100% secure payment
            </h3>
            <p>Rem Lopsum dolor sit amet, consectetur adipi elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<section
  id="mobile-products"
  class="product-store position-relative padding-large no-padding-top mt-5 p-4"
>
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Mobile Products</h2>
        <div class="btn-right">
          <a class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>

      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="row">
            <div
              class="col-lg-3 col-md-4"
              *ngFor="let item of filteredSmartphones"
            >
              <app-product-cards [item]="item"></app-product-cards>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>

<section
  id="mobile-products"
  class="product-store position-relative padding-large no-padding-top mt-5 p-4"
>
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Laptops Products</h2>
        <div class="btn-right">
          <a class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>

      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="row">
            <div class="col-lg-3 col-md-4" *ngFor="let item of filteredLaptops">
              <app-product-cards [item]="item"></app-product-cards>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>

<app-sale-section></app-sale-section>

<section
  id="mobile-products"
  class="product-store position-relative padding-large no-padding-top mt-5 p-4"
>
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Home Products</h2>
        <div class="btn-right">
          <a class="btn btn-medium btn-normal text-uppercase button-shop"
            >Go to Shop</a
          >
        </div>
      </div>

      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="row">
            <div
              class="col-lg-3 col-md-4"
              *ngFor="let item of filteredHomeDecoration"
            >
              <app-product-cards [item]="item"></app-product-cards>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>

<section
  id="subscribe"
  class="container-grid padding-large position-relative overflow-hidden"
>
  <div class="container">
    <div class="row">
      <div
        class="subscribe-content bg-dark d-flex flex-wrap justify-content-center align-items-center padding-medium"
      >
        <div class="col-md-6 col-sm-12">
          <div class="display-header pe-3">
            <h2 class="display-7 text-uppercase text-light">
              Subscribe Us Now
            </h2>
            <p>
              Get latest news, updates and deals directly mailed to your inbox.
            </p>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <form class="subscription-form validate">
            <div class="input-group flex-wrap">
              <input
                class="form-control btn-rounded-none"
                type="email"
                name="EMAIL"
                placeholder="Your email address here"
                required=""
              />
              <button
                class="btn btn-medium btn-primary text-uppercase btn-rounded-none"
                type="submit"
                name="subscribe"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="mobile-products"
  class="product-store position-relative padding-large no-padding-top mt-5 p-4"
>
  <div class="container">
    <div class="row">
      <div class="display-header d-flex justify-content-between pb-3">
        <h2 class="display-7 text-dark text-uppercase">Skin Care Products</h2>
        <div class="btn-right">
          <a class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
        </div>
      </div>

      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <div class="row">
            <div
              class="col-lg-3 col-md-4"
              *ngFor="let item of filteredSkincare"
            >
              <app-product-cards [item]="item"></app-product-cards>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination position-absolute text-center"></div>
</section>
